.intro-overlay {
	.top {
		height: 50vh;
		height: calc(var(--vh, 1vh) * 50);
		position: absolute;
		width: 100%;
		z-index: 8;

		.overlay-top {
			position: absolute;
			height: 100%;
			width: calc(100vw / 3);
			background-color: $black;
			bottom: 0;
			left: 0;
			right: 0;

			@include media('<=tablet') {
				width: 100vw;
			}

			&:nth-child(2) {
				left: calc(100% / 3);

				@include media('<=tablet') {
					display: none;
				}
			}

			&:nth-child(3) {
				left: calc(2 * (100% / 3));

				@include media('<=tablet') {
					display: none;
				}
			}
		}
	}
	.bottom {
		height: 50vh;
		height: calc(var(--vh, 1vh) * 50);
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 8;

		.overlay-bottom {
			position: absolute;
			height: 100%;
			width: calc(100vw / 3);
			background-color: $black;
			bottom: 0;
			right: calc(2 * (100% / 3));

			@include media('<=tablet') {
				right: 0;
				width: 100vw;
			}

			&:nth-child(2) {
				right: calc(100% / 3);

				@include media('<=tablet') {
					top: 100%;
					right: 0;
				}
			}

			&:nth-child(3) {
				right: 0;

				@include media('<=tablet') {
					top: 200%;
				}
			}
		}
	}
}
